[workspace]
name = "gelex"
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64"]

[build-dependencies]
cmake = ">=3.18,<4"
cxx-compiler = ">=1.8.0,<2"
ninja = ">=1.12.1,<2"

[host-dependencies]
openblas = { version = ">=0.3.28", build = "*openmp*" }
spdlog = ">=1.15.0,<2"
catch2 = ">=3.8.0,<4"
mkl-devel = ">=2024.2.2,<2025"
fftw = ">=3.3.10,<4"

[tasks.configure]
cmd = [
  "cmake",
  "-GNinja",
  "-S .",
  "-B.build",
  "-DBUILD_TEST=ON",
  "-DUSE_MKL=ON",
]

[tasks.build]
cmd = ["cmake", "--build", ".build", "-j16"]
depends-on = ["configure"]

[tasks.install]
cmd = ["cp", ".build/gelex", "~/.local/bin/"]
depends-on = ["build"]

[tasks.test]
cmd = "cd .build/tests/;./test"
depends-on = ["build"]

[environments]
docs = { features = ["docs"], no-default-feature = true }

[feature.docs.dependencies]
python = ">=3.13.7,<3.14"

[feature.docs.pypi-dependencies]
sphinxcontrib-moderncmakedomain = ">=3.29.0, <4"
furo = ">=2025.7.19, <2026"
sphinx = ">=8.2.3, <9"
sphinx-copybutton = ">=0.5.2, <0.6"
sphinxcontrib-svg2pdfconverter = ">=1.3.0, <2"
