[workspace]
name = "gelex"
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64"]

[build-dependencies]
cmake = ">=3.18,<4"
cxx-compiler = ">=1.8.0,<2"
ninja = ">=1.12.1,<2"
clang = ">=21.1.3,<22"

[host-dependencies]
openblas = { version = ">=0.3.28", build = "*openmp*" }
spdlog = ">=1.15.0,<2"
catch2 = ">=3.8.0,<4"
mkl-devel = ">=2024.2.2,<2025"
fftw = ">=3.3.10,<4"

[tasks.configure]
args = [
  { "arg" = "build_dir", "default" = ".build_debug" },
  { "arg" = "build_type", "default" = "Debug" },
  { "arg" = "test", "default" = "ON" },
  { "arg" = "cxx_compiler", "default" = "clang++-21" },
]

cmd = [
  "cmake",
  "-GNinja",
  "-S .",
  "-B{{build_dir}}",
  "-DBUILD_TEST={{test}}",
  "-DUSE_MKL=ON",
  "-DCMAKE_BUILD_TYPE={{build_type}}",
  "-DCMAKE_CXX_COMPILER={{cxx_compiler}}",
]

[tasks.build-debug]
cmd = ["cmake", "--build", ".build_debug", "-j16"]
depends-on = ["configure"]

[tasks.install-debug]
cmd = ["cp", ".build_debug/gelex", "~/.local/bin/"]
depends-on = ["build-debug"]

[tasks.build-release]
cmd = ["cmake", "--build", ".build_release", "-j16"]
depends-on = [
  { task = "configure", args = [
    { build_dir = ".build_release" },
    { build_type = "Release" },
    { test = "OFF" },
  ] },
]

[tasks.build-reldebug]
cmd = ["cmake", "--build", ".build_reldebug", "-j16"]
depends-on = [
  { task = "configure", args = [
    { build_dir = ".build_reldebug" },
    { build_type = "RelWithDebInfo" },
    { test = "OFF" },
  ] },
]

[tasks.install-release]
cmd = ["cp", ".build_release/gelex", "~/.local/bin/"]
depends-on = ["build-release"]

[tasks.install-reldebug]
cmd = ["cp", ".build_reldebug/gelex", "~/.local/bin/"]
depends-on = ["build-reldebug"]

[tasks.test]
cmd = "cd .build_debug/tests;ctest"
depends-on = ["build-debug"]

[environments]
docs = { features = ["docs"], no-default-feature = true }

[feature.docs.dependencies]
python = ">=3.13.7,<3.14"

[feature.docs.pypi-dependencies]
sphinxcontrib-moderncmakedomain = ">=3.29.0, <4"
furo = ">=2025.7.19, <2026"
sphinx = ">=8.2.3, <9"
sphinx-copybutton = ">=0.5.2, <0.6"
sphinxcontrib-svg2pdfconverter = ">=1.3.0, <2"
