[workspace]
name = "gelex"
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64"]

[activation]
env = { CXX = "g++" }

[dependencies]
cmake = ">=4.2.3,<5"
cxx-compiler = ">=1.11.0,<2"
ninja = ">=1.13.2,<2"
clang = ">=21.1.8,<22"
openblas = { version = ">=0.3.31,<0.4", build = "*openmp*" }
spdlog = ">=1.17.0,<2"
catch2 = ">=3.12.0,<4"
mkl-devel = ">=2025.3.0,<2026"
llvm-tools = ">=21.1.8,<22"
rattler-build = ">=0.55.1,<0.56"

# ---------------------------------------------------------
# Configure Tasks
# ---------------------------------------------------------
[tasks.config-debug]
cmd = "cmake --preset debug"

[tasks.config-release]
cmd = "cmake --preset release"

[tasks.config-native]
cmd = "cmake --preset release-native"

[tasks.config-coverage]
cmd = "cmake --preset coverage"

[tasks.config-benchmark]
cmd = "cmake --preset benchmark"

[tasks.config-reldeb]
cmd = "cmake --preset reldeb"


# ---------------------------------------------------------
# Build Tasks
# ---------------------------------------------------------

[tasks.build]
cmd = "cmake --build --preset debug -j$(nproc)"
depends-on = ["config-debug"]

[tasks.build-debug]
cmd = "cmake --build --preset debug -j$(nproc)"
depends-on = ["config-debug"]

[tasks.build-release]
cmd = "cmake --build --preset release -j$(nproc)"
depends-on = ["config-release"]

[tasks.build-native]
cmd = "cmake --build --preset release-native -j$(nproc)"
depends-on = ["config-native"]

[tasks.build-benchmark]
cmd = "cmake --build --preset benchmark -j$(nproc)"
depends-on = ["config-benchmark"]

[tasks.build-reldeb]
cmd = "cmake --build --preset reldeb -j$(nproc)"
depends-on = ["config-reldeb"]


[tasks.coverage]
cmd = "cmake --build --preset coverage --target coverage"
depends-on = ["build-coverage-bin"]

# ---------------------------------------------------------
# Test Tasks
# ---------------------------------------------------------

[tasks.test]
cmd = "ctest --preset test-debug"
depends-on = ["build-debug"]

[tasks.build-coverage-bin]
cmd = "cmake --build --preset coverage -j$(nproc)"
depends-on = ["config-coverage"]

# ---------------------------------------------------------
# Install & Utils
# ---------------------------------------------------------
[tasks.install-debug]
cmd = "cmake --install build/debug --prefix $HOME/.local"
depends-on = ["build-debug"]

[tasks.install-release]
cmd = "cmake --install build/release --prefix $HOME/.local"
depends-on = ["build-release"]

[tasks.install-reldeb]
cmd = "cmake --install build/reldeb --prefix $HOME/.local"
depends-on = ["build-reldeb"]

[tasks.benchmark]
cmd = "build/benchmark/benchmark/bench"
depends-on = ["build-benchmark"]

[environments]
docs = { features = ["docs"], no-default-feature = true }

[feature.docs.dependencies]
python = ">=3.14.2,<3.15"

[feature.docs.pypi-dependencies]
sphinxcontrib-moderncmakedomain = ">=3.29.0, <4"
furo = ">=2025.12.19, <2026"
sphinx = ">=9.1.0, <10"
sphinx-copybutton = ">=0.5.2, <0.6"
sphinxcontrib-svg2pdfconverter = ">=2.0.0, <3"
sphinx-autobuild = ">=2025.8.25, <2026"

[feature.docs.tasks.build-doc]
cmd = ["sphinx-build", "-b", "html", "docs/source", "docs/build/html"]

[feature.docs.tasks.serve-doc]
cmd = ["python", "-m", "http.server", "3030", "-d", "docs/build/html"]
depends-on = ["build-doc"]

[feature.docs.tasks.watch-doc]
cmd = [
  "sphinx-autobuild",
  "-b",
  "html",
  "docs/source",
  "docs/build/html",
  "--host",
  "0.0.0.0",
  "--port",
  "3030",
]
