[workspace]
name = "gelexy"
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64"]

[build-dependencies]
cmake = ">=3.18,<4"
cxx-compiler = ">=1.8.0,<2"
ninja = ">=1.12.1,<2"
scikit-build-core = ">=0.11"

[host-dependencies]
nanobind = ">=2.5.0,<3"
openblas = { version = ">=0.3.28", build = "*openmp*" }
spdlog = ">=1.15.0,<2"
catch2 = ">=3.8.0,<4"
mkl = ">=2024.0.0,<2026"

[dependencies]
python = ">=3.10"
numpy = ">=2.2.2,<3"
pandas = ">=2.2.3,<3"
formulaic = ">=1.1.1,<2"
h5py = ">=3.12.1,<4"

[pypi-dependencies]
gelexy = { path = ".", editable = true }

[pypi-options]
no-build-isolation = ["gelexy"]

[tasks]
start = "python -c 'import gelexy as gx; print(gx.make_model)'"

[feature.jupyter]
dependencies = { bash_kernel = ">=0.9.3,<0.10" }
pypi-dependencies = { jupyterlab = ">=4.3.4,<5", ipywidgets = ">=8.1.5,<9", matplotlib = ">=3.10.0,<4", seaborn = ">=0.13.2, <1" }
tasks = { jupyter = "jupyter lab --notebook-dir=notebooks" }

[feature.test]
pypi-dependencies = { pytest = "*" }
tasks = { test = "pytest -x && .pybuild/test" }

[feature.dev]
pypi-dependencies = { cibuildwheel = "*" }
dependencies = { uv = "*" }

[feature.dev.tasks]
ci = { cmd = ["cibuildwheel", "--platform", "linux"] }
wheel = "uv build"


[environments]
jupyter = ["jupyter"]
test = ["test"]
dev = ["dev"]
