[workspace]
name = "gelex"
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64"]

[dependencies]
cmake = ">=3.20,<4"
cxx-compiler = ">=1.8.0,<2"
ninja = ">=1.12.1,<2"
clang = ">=18.0.0,<22"
openblas = { version = ">=0.3.28", build = "*openmp*" }
spdlog = ">=1.15.0,<2"
catch2 = ">=3.8.0,<4"
mkl-devel = ">=2024.2.2,<2025"
fftw = ">=3.3.10,<4"
llvm-tools = ">=18.0.0,<22"

# ---------------------------------------------------------
# Configure Tasks
# ---------------------------------------------------------
[tasks.config-debug]
cmd = "cmake --preset debug"

[tasks.config-release]
cmd = "cmake --preset release"

[tasks.config-native]
cmd = "cmake --preset release-native"

[tasks.config-coverage]
cmd = "cmake --preset coverage"

# ---------------------------------------------------------
# Build Tasks
# ---------------------------------------------------------

[tasks.build]
cmd = "cmake --build --preset debug -j16"
depends-on = ["config-debug"]

[tasks.build-debug]
cmd = "cmake --build --preset debug -j16"
depends-on = ["config-debug"]

[tasks.build-release]
cmd = "cmake --build --preset release -j16"
depends-on = ["config-release"]

[tasks.build-native]
cmd = "cmake --build --preset release-native -j16"
depends-on = ["config-native"]

[tasks.coverage]
cmd = "cmake --build --preset coverage --target coverage"
depends-on = ["build-coverage-bin"]

# ---------------------------------------------------------
# Test Tasks
# ---------------------------------------------------------

[tasks.test]
cmd = "ctest --preset test-debug"
depends-on = ["build-debug"]

[tasks.build-coverage-bin]
cmd = "cmake --build --preset coverage -j16"
depends-on = ["config-coverage"]

# ---------------------------------------------------------
# Install & Utils
# ---------------------------------------------------------
[tasks.install-debug]
cmd = "cp build/debug/gelex ~/.local/bin/gelex_debug"
depends-on = ["build-debug"]

[tasks.install-release]
cmd = "cp build/release/gelex ~/.local/bin/gelex"
depends-on = ["build-release"]

[environments]
docs = { features = ["docs"], no-default-feature = true }

[feature.docs.dependencies]
python = ">=3.13.7,<3.14"

[feature.docs.pypi-dependencies]
sphinxcontrib-moderncmakedomain = ">=3.29.0, <4"
furo = ">=2025.7.19, <2026"
sphinx = ">=8.2.3, <9"
sphinx-copybutton = ">=0.5.2, <0.6"
sphinxcontrib-svg2pdfconverter = ">=1.3.0, <2"
sphinx-autobuild = ">=2025.8.25, <2026"

[feature.docs.tasks.build-doc]
cmd = ["sphinx-build", "-b", "html", "docs/source", "docs/build/html"]

[feature.docs.tasks.serve-doc]
cmd = ["python", "-m", "http.server", "3030", "-d", "docs/build/html"]
depends-on = ["build-doc"]

[feature.docs.tasks.watch-doc]
cmd = [
  "sphinx-autobuild",
  "-b",
  "html",
  "docs/source",
  "docs/build/html",
  "--host",
  "0.0.0.0",
  "--port",
  "3030",
]
