Checks: >
    -*,
    clang-analyzer-*,
    bugprone-*,
    cert-*
    modernize-*,
    readability-*,
    performance-*,
    cppcoreguidelines-*,
    hicpp-*,
    google-*,
    openmp-*
HeaderFilterRegex: "include/*" # 检查所有头文件
FormatStyle: file
